@import "tailwindcss";

@theme {
  /* Mapping Font */
  --font-serif: var(--font-playfair); 
  --font-sans: var(--font-inter);
  
  /* DEFINISI WARNA PINK */
  /* Ini otomatis bikin class: text-neon-pink, bg-neon-pink, border-neon-pink */
  --color-neon-pink: #ff2d55; 
  --color-soft-pink: #ffb7c5;
}

/* Base Styles */
body {
  background-color: black;
  color: white;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* BIKIN TEKS JADI PINK PAS DI-BLOK */
::selection {
  background-color: var(--color-neon-pink);
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}